/* footer */
footer {
    padding: 15px;
    background-color: var(--clr-primary-4);
    color: var(--clr-primary-1);
    margin-top: auto; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    p {
        margin: 0;
        font-size: 0.875rem; /* 14px */
        text-align: center;
    }
}